name: Frontend Proxy Service

on:
  pull_request:
    branches: [ main ]
    paths:
    - 'backend/services/frontend/**'

jobs:
  build-frontend-proxy:
    uses: ./.github/workflows/build_service.yml
    with:
      image-name: kioku_frontend_proxy
      path: ./backend/services/frontend
      context: ./backend