name: Login Service

on:
  pull_request:
    branches: [ main ]
    paths:
    - 'backend/services/login/**'

jobs:
  build-login:
    uses: ./.github/workflows/build_service.yml
    with:
      image-name: kioku_login
      path: ./backend/services/login
      context: ./backend