name: Build Production Images

on:
  workflow_dispatch:

jobs:
  build-frontend:
    uses: ./.github/workflows/build_service.yml
    with:
      image-name: kioku_frontend
      image-tag: prod
      path: ./frontend
      context: ./frontend

  build-carddeck:
    uses: ./.github/workflows/build_service.yml
    with:
      image-name: kioku_carddeck
      image-tag: prod
      path: ./backend/services/carddeck
      context: ./backend
  
  build-user:
    uses: ./.github/workflows/build_service.yml
    with:
      image-name: kioku_user
      image-tag: prod
      path: ./backend/services/user
      context: ./backend
  
  build-frontend-proxy:
    uses: ./.github/workflows/build_service.yml
    with:
      image-name: kioku_frontend_proxy
      image-tag: prod
      path: ./backend/services/frontend
      context: ./backend
  
  build-collaboration:
    uses: ./.github/workflows/build_service.yml
    with:
      image-name: kioku_collaboration
      image-tag: prod
      path: ./backend/services/collaboration
      context: ./backend